<%- include('../partials/userHeader.ejs') %>
      <!-- FOOD: JUMBOTRON -->
      <div class="jumbotron food-jumbotron dark-overlay text-white">
        <img
          sizes="(max-width: 2560px) 100vw, 2560px"
          srcset="
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_320/v1536008489/website-template-3/cover-food-menu.jpg 320w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_492/v1536008489/website-template-3/cover-food-menu.jpg 492w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_627/v1536008489/website-template-3/cover-food-menu.jpg 627w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_743/v1536008489/website-template-3/cover-food-menu.jpg 743w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_853/v1536008489/website-template-3/cover-food-menu.jpg 853w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_953/v1536008489/website-template-3/cover-food-menu.jpg 953w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_1040/v1536008489/website-template-3/cover-food-menu.jpg 1040w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_1120/v1536008489/website-template-3/cover-food-menu.jpg 1120w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_1196/v1536008489/website-template-3/cover-food-menu.jpg 1196w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_1273/v1536008489/website-template-3/cover-food-menu.jpg 1273w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_1348/v1536008489/website-template-3/cover-food-menu.jpg 1348w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_1416/v1536008489/website-template-3/cover-food-menu.jpg 1416w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_1483/v1536008489/website-template-3/cover-food-menu.jpg 1483w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_1543/v1536008489/website-template-3/cover-food-menu.jpg 1543w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_1603/v1536008489/website-template-3/cover-food-menu.jpg 1603w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_1665/v1536008489/website-template-3/cover-food-menu.jpg 1665w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_1727/v1536008489/website-template-3/cover-food-menu.jpg 1727w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_1787/v1536008489/website-template-3/cover-food-menu.jpg 1787w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_1847/v1536008489/website-template-3/cover-food-menu.jpg 1847w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_1900/v1536008489/website-template-3/cover-food-menu.jpg 1900w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_1947/v1536008489/website-template-3/cover-food-menu.jpg 1947w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_2001/v1536008489/website-template-3/cover-food-menu.jpg 2001w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_2051/v1536008489/website-template-3/cover-food-menu.jpg 2051w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_2104/v1536008489/website-template-3/cover-food-menu.jpg 2104w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_2157/v1536008489/website-template-3/cover-food-menu.jpg 2157w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_2203/v1536008489/website-template-3/cover-food-menu.jpg 2203w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_2251/v1536008489/website-template-3/cover-food-menu.jpg 2251w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_2299/v1536008489/website-template-3/cover-food-menu.jpg 2299w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_2343/v1536008489/website-template-3/cover-food-menu.jpg 2343w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_2389/v1536008489/website-template-3/cover-food-menu.jpg 2389w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_2439/v1536008489/website-template-3/cover-food-menu.jpg 2439w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_2486/v1536008489/website-template-3/cover-food-menu.jpg 2486w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_2526/v1536008489/website-template-3/cover-food-menu.jpg 2526w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_2558/v1536008489/website-template-3/cover-food-menu.jpg 2558w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_2560/v1536008489/website-template-3/cover-food-menu.jpg 2560w"
          src="https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_2560/v1536008489/website-template-3/cover-food-menu.jpg"
          alt=""
          class="food-jumbotron-bg">
        <div class="food-jumbotron-caption container">
          <h1 id="title-1" class="special-title-2">Food Menu</h1>
          <div id="menu-icons">
            <div class="row">
              <div class="col-3">
                <a href="#breakfasts" class="smooth-scroll"><img class="menu-icon" src="../media/menu/food/icons/breakfasts.svg" alt="Breakfasts"></a>
                <h6 class="menu-icon-text mt-3 mb-0">BREAKFASTS</h6>
              </div>
              <div class="col-3">
                <a href="#burgers" class="smooth-scroll"><img class="menu-icon" src="../media/menu/food/icons/burgers.svg" alt="Burgers"></a>
                <h6 class="menu-icon-text mt-3 mb-0">BURGERS</h6>
              </div>
              <!-- <div class="col-3">
                <a href="#flavours-of-cyprus" class="smooth-scroll"><img class="menu-icon" src="../media/menu/food/icons/flavours-of-cyprus.svg" alt="Flavours of Cyprus"></a>
                <h6 class="menu-icon-text mt-3 mb-0">FLAVOURS OF CYPRUS</h6>
              </div> -->
              <div class="col-3">
                <a href="#from-the-grill" class="smooth-scroll"><img class="menu-icon" src="../media/menu/food/icons/from-the-grill.svg" alt="From the grill"></a>
                <h6 class="menu-icon-text mt-3 mb-0">FROM THE GRILL</h6>
              </div>          
            </div>
            <div class="row mt-5">
              <div class="col-3">
                <a href="#pasta" class="smooth-scroll"><img class="menu-icon" src="../media/menu/food/icons/pasta.svg" alt="Pasta"></a>
                <h6 class="menu-icon-text mt-3 mb-0">PASTA</h6>
              </div>
              <!-- <div class="col-3">
                <a href="#pies" class="smooth-scroll"><img class="menu-icon" src="../media/menu/food/icons/pies.svg" alt="Pies"></a>
                <h6 class="menu-icon-text mt-3 mb-0">PIES</h6>
              </div> -->
              <div class="col-3">
                <a href="#pizzas" class="smooth-scroll"><img class="menu-icon" src="../media/menu/food/icons/pizzas.svg" alt="Pizzas"></a>
                <h6 class="menu-icon-text mt-3 mb-0">PIZZAS</h6>
              </div>
              <!-- <div class="col-3">
                <a href="#salads" class="smooth-scroll"><img class="menu-icon" src="../media/menu/food/icons/salads.svg" alt="Salads"></a>
                <h6 class="menu-icon-text mt-3 mb-0">SALADS</h6>
              </div>
            </div> -->
            <!-- <div class="row mt-5">
              <div class="col-3">
                <a href="#seafood" class="smooth-scroll"><img class="menu-icon" src="../media/menu/food/icons/seafood.svg" alt="Seafood"></a>
                <h6 class="menu-icon-text mt-3 mb-0">SEAFOOD</h6>
              </div> -->
              <!-- <div class="col-3">
                <a href="#specials" class="smooth-scroll"><img class="menu-icon" src="../media/menu/food/icons/specials.svg" alt="Specials"></a>
                <h6 class="menu-icon-text mt-3 mb-0">SPECIALS</h6>
              </div> -->
              <!-- <div class="col-3">
                <a href="#starters" class="smooth-scroll"><img class="menu-icon" src="../media/menu/food/icons/starters.svg" alt="Starters"></a>
                <h6 class="menu-icon-text mt-3 mb-0">STARTERS</h6>
              </div> -->
              <div class="col-3">
                <a href="#vegetarian-meals" class="smooth-scroll"><img class="menu-icon" src="../media/menu/food/icons/vegetarian-meals.svg" alt="Vegetarian meals"></a>
                <h6 class="menu-icon-text mt-3 mb-0">VEGETARIAN MEALS</h6>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- FOOD: DESCRIPTIONS -->
      <div class="food-descriptions container">
        
        <!-- BREAKFASTS -->
        <div id="breakfasts" class="food-category">
          <h2 class="banner">FOODS</h2>
          <hr class="food-horizontal-rule">
          <% products.forEach(data =>{ %>
          <div class="row align-items-center menu-item">
            <div class="col-md-3 food-image">
              <img 
                   src="/<%= data.image %>"
                alt="Breakfast"
                width="200"
                height="120"
                class="rounded-circle lazyload">
            </div>
            <div class="col-md-9">
              <h3 class="food-title">
                <span class="food-name"><%= data.item_name %></span>
                <span class="food-price float-right"> ₹<%= data.price %></span> </h3>
              <p class="food-ingredients">
                <%= data.des %>
              </p>
            </div>
            <%})%>
          </div>
         

        <!-- BURGERS -->
        

      <!-- GOOGLE MAP -->
      

    </main>
    <%- include('../partials/userFooter.ejs') %>